# Django Backend
/darvenv/
/lib/
*.pyc
/__pycache__/
/backend/backend/__pycache__/
/backend/backend/migrations/__pycache__/
/backend/backend/migrations/*.py
/backend/db.sqlite3
/backend/.coverage
/backend/.pytest_cache/
/backend/htmlcov/
/backend/.vscode/
/backend/.idea/
/backend/.mypy_cache/
/backend/.pytest_cache/
/backend/.cache/
/backend/.coverage/
/backend/.tox/
/backend/.eggs/
/backend/*.egg-info/
/backend/.env
/backend/.env.*
/backend/.python-version
/backend/.DS_Store

# React Frontend
node_modules
.DS_Store
dist
/dar-frontend/node_modules/
/dar-frontend/build/
/dar-frontend/.env
/fdar-rontend/.env.production
/dar-frontend/.env.local
/dar-frontend/.env.development.local
/dar-frontend/yarn-error.log
/dar-frontend/yarn.lock

# Other common files
/.vscode/
/.idea/
*.sublime-project
*.sublime-workspace
