# Django Backend
/darvenv/
/lib/
/__pycache__/
/backend/backend/__pycache__/
/backend/backend/migrations/__pycache__/
/backend/backend/migrations/*.py
/backend/db.sqlite3
/backend/.coverage
/backend/.pytest_cache/
/backend/htmlcov/
/backend/.vscode/
/backend/.idea/
/backend/.mypy_cache/
/backend/.pytest_cache/
/backend/.cache/
/backend/.coverage/
/backend/.tox/
/backend/.eggs/
/backend/*.egg-info/
/backend/.env
/backend/.env.*
/backend/.python-version
/backend/.DS_Store

# React Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/.env.production
/frontend/.env.local
/frontend/.env.development.local
/frontend/yarn-error.log
/frontend/yarn.lock

# Other common files
/.vscode/
/.idea/
*.sublime-project
*.sublime-workspace
