#root,
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color-scheme: inherit;
  --red: brown;
  --main-yellow: #8e8e0471;
  --white: #ffffffd6;
  --dark-green: #4d4d07;
  --light-green: #a7a72afd;
  --accent-orange: #ff8c00;
  --orange-bg: #ff8c008e;
  --yellow-bg: #666604b3;
  --light-orange: #ebcb9096;
  --transparent-white: rgba(255, 255, 255, 0.716);

  --yellow: #ebeb06;

  @media screen and (max-width: 320px) {
    font-size: 0.75rem;
  }
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #0b712b;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
}

button:focus,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #f9f9f9;
}
button :hover {
  box-shadow: 0 0 0 1px #423333;
}

input {
  min-width: fit-content;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #0b712b;
  }
  button {
    background-color: #f9f9f9;
  }
}

a,
li {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.centered {
  align-items: center;
  justify-content: center;
}
.left {
  justify-content: left;
  align-items: left;
}
.right {
  justify-content: right;
  align-items: right;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
